{% extends "web/partail/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Agancy Html Template" />
    <meta name="author" content="https://www.themetechmount.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Shiftler &#8211; Transportation &amp; Logistics Html Template</title>

<!-- favicon icon -->

<style>
    .one{
        text-align: justify;
    }
</style>


</head>

<body>
    <!--page start-->
    <div class="page">
        <!--header start-->
        <header id="masthead" class="header cmt-header-style-01">
            <!-- cmt-topbar-wrapper -->
            <div class="cmt-topbar cmt-textcolor-white clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 d-flex flex-row align-items-center justify-content-center">
                            <div class="cmt-topbar-content">
                                <ul class="top-contact text-left">
                                    <li class="list-inline-item">The Reliable Moving Company. Your friend with a truck.</li>
                                </ul>
                            </div>
                            <div class="top_bar_contact_item ml-auto">
                                 <div class="top_bar_icon"><i class="fa fa-phone"></i>
                                 </div> Make a call:<a href="#"> +1(123)456-7890</a>
                            </div>
                            <div class="top_bar_contact_item">
                                 <div class="top_bar_icon"><i class="fa fa-map-marker"></i></div>4789 Melmorn Ton Mashintron Town
                            </div>     
                        </div>
                    </div>
                </div>
            </div><!-- cmt-topbar end -->
            <!-- site-header-menu -->
            <div id="site-header-menu" class="site-header-menu">
                <div class="site-header-menu-inner cmt-stickable-header ">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!--site-navigation -->
                                <div class="site-navigation d-flex flex-row align-items-center">
                                    <!-- site-branding -->
                                    <div class="site-branding mr-auto">
                                        <a class="home-link" href="{% url "web:index" %}" title="Shiftler" rel="home">
                                            <img id="logo-img" class="img-center standardlogo" src="{% static "web/images/logo-img.png" %}" alt="logo-img">
                                            <img id="logo-dark" class="img-center stickylogo" src="{% static "web/images/logo-dark.png" %}" alt="logo-img">
                                        </a>
                                    </div><!-- site-branding end -->
                                    <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                        <span class="menubar-box">
                                            <span class="menubar-inner"></span>
                                        </span>
                                    </div>
                                    <!-- menu -->
                                    <nav class="main-menu menu-mobile" id="menu">
                                        <ul class="menu">
                                            <li class="mega-menu-item "><a href="{% url "web:index" %}" class="mega-menu-link">Home</a></li>
                                            <li><a href="{% url "web:about-us" %}">About Us</a></li>
                                            </li>
                                            <li><a href="{% url "web:services-1" %}">Services</a></li>
                                                
                                            </li>
                                            <li class="mega-menu-item"><a href="{% url "web:portfolio-style" %}" class="mega-menu-link">Projects</a>
                                            </li>
                                            <li class="mega-menu-item"><a href="{% url "web:blog-grid-view" %}" class="mega-menu-link">Update</a>
                                                
                                            </li>
                                            <li class="mega-menu-item">
                                                <a href="{% url "web:contact" %}" class="mega-menu-link">Contact Us</a>
                                            </li>
                                        </ul>
                                    </nav>
                                                                       
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- site-header-menu end-->
        </header> 
        <!-- page-title -->
        <div class="cmt-page-title-row">
            <div class="cmt-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">Five Reasons You Can Deliver Best Enterprise</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Go to Shiftler." href="{% url "web:index" %}" class="home">
                                    <i class="themifyicon ti-home"></i> &nbsp;Home</a>
                                </span>
                                <span class="cmt-bread-sep">&nbsp;--&nbsp;</span>
                                <span>Five Reasons You Can Deliver Best Enterprise</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
        <!-- page-title end -->
        
        <div class="main-site">
            <div class="sidebar cmt-sidebar-right cmt-bgcolor-white clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12 content-area">
                            <article class="post cmt-blog-single clearfix">
                                <!-- post-featured-wrapper -->
                                <div class="cmt-post-featured-wrapper">
                                    <div class="cmt-post-featured">
                                        <img class="img-fluid" src="{{item_blog.image.url}}" alt="post-01">
                                    </div>
                                </div><!-- post-featured-wrapper end -->
                                <!-- cmt-blog-classic-content -->
                                <div class="cmt-blog-single-content box-shadow">
                                    <div class="cmt-post-entry-header pl-0">
                                        <div class="post-meta mb-10">
                                            <span class="cmt-meta-line byline"><i class="fa fa-user"></i>John Doe</span>
                                            <span class="cmt-meta-line tags-links"><i class="fa fa-comment-o"></i>(0) Comments</span>
                                            <span class="cmt-meta-line cat-link">
                                                <i class="fa fa-folder"></i>
                                                <a href="">Logistics,</a>
                                                <a href="">Transport</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="cmt-box-desc-text one">
                                        {{item_blog.contact}}
                                    </div>
                                    
                                    
                                    <div class="cmt-content-title mt-30 mb-25">
                                        <h3>We understand that itut the app,</h3>
                                        <p>Seurus ornarMisl imperdiet auctor. DoPlacerat, sem mi suscipit mi, at varius enim sem at sem. Fusce tempus ex nibh, eget vulpuAenean vel consequat risus</p>
                                    </div>
                                    
                                    
                            </article>
                        </div>  
                        
                    </div>
                </div>
            </div>
        </div>
        <!--footer start-->
        
            <!--back-to-top start-->
            <a id="totop" href="#top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!--back-to-top end-->
    </div><!--Page End-->
</body>
</html>

{% endblock %}